html,body{
    height: 100%;
}
body{
    
    background-color: #474787;
}
header{
    height: 15%;
    background-color: #474787;
}
.logo{
    color:rgb(194, 194, 194);
    text-decoration: none;
    text-align: center;
    width: 50%;
    font-weight: 700;
    font-size: 20px;
    transition: text-shadow .25s ease-in-out;
}
.logo:hover{
    text-shadow: 2px 2px 10px rgb(95, 95, 95);
}
main{
    height: 80%;
}
.box{
    background-color: #706fd3 !important;
}
#all-part{
    display: none;
}
#decryption{
    display: none;
}
footer{
    height: 5%;
}
#btn-en{
    background-color: #6C757D;
}
.button{
    width: 40% !important;
}